<div class="container">
	<div class="panel panel-primary">
	<!-- Default panel contents -->
		<div class="panel-heading">Authors</div>
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<td>Nombre</td>
					<td>Email</td>
					<td>Nationality</td>
					<td>Actions</td>
				</tr>			
			</thead>
			<tr ng-repeat="author in authors.all">
				<td>{{author.name}}</td>
				<td>{{author.email}}</td>
				<td>{{author.nationality.adjective}}</td>
				<td>
					<a href="#/authoredit/{{author.id}}"><span class="glyphicon glyphicon-edit"></span></a>
					<a href="" ng-click="authorDelete(author.id, author.name)"><span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>
		</table>
	</div>
		<ul class="pagination pull-right">
			<li ng-class="{disabled: currentpage == 1}">
				<a href="" ng-click="jumpPage(currentpage-1)" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li ng-repeat="page in pages" ng-class="{active: currentpage==page+1}"><a href="" ng-click="jumpPage(page+1)">{{page+1}}</a></li>
			<li  ng-class="{disabled: currentpage == page}">
			<a href="" ng-click="jumpPage(currentpage+1)" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
			</li>
		</ul>
</div>