<div class="container">
	<div class="col-md-12">
		<form enctype='multipart/form-data' ng-submit="saveAuthor()" >
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" ng-model="name" required />
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" ng-model="email" />
			</div>
			<div class="form-group">
				<label for="nationality">Nationality:</label>
				<md-autocomplete
					md-selected-item="selectedItem"
					md-search-text="searchText"
					md-selected-item-change="selectedItemChange(item)"
					md-items="item in querySearch(searchText)"
					md-item-text="item.adjective"
					md-min-length="0"
					required>
					<md-item-template>
						<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.adjective}}</span>
					</md-item-template>
					<md-not-found>
						No nationalities matching "{{searchText}}" were found.
					</md-not-found>
				</md-autocomplete>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>