<div class="container">
	<div class="panel panel-primary">
	<!-- Default panel contents -->
		<div class="panel-heading">Books</div>
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<td>Title</td>
					<td>Author</td>
					<td>Published</td>
					<td>Actions</td>
				</tr>			
			</thead>
			<tr ng-repeat="book in books.all">
				<td><a ng-click="loadInfoBook(book.id)">{{book.title}}</a></td>
				<td>{{book.author.name}}</td>
				<td>{{book.published}}</td>
				<td>
					<a href="#/bookedit/{{book.id}}"><span class="glyphicon glyphicon-edit"></span></a>
					<a href="" ng-click="bookDelete(book.id, book.title)"><span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>
		</table>
	</div>
		<ul class="pagination pull-right">
			<li ng-class="{disabled: currentpage == 1}">
				<a href="" ng-click="jumpPage(currentpage-1)" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li ng-repeat="page in pages" ng-class="{active: currentpage==page+1}"><a href="" ng-click="jumpPage(page+1)">{{page+1}}</a></li>
			<li  ng-class="{disabled: currentpage == page}">
			<a href="" ng-click="jumpPage(currentpage+1)" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
			</li>
		</ul>
	<div ng-include="urls.book_view"></div>
</div>