<div class="container">
	<div class="col-md-12">
		<form enctype='multipart/form-data' ng-submit="saveBook()" >
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" class="form-control" id="title" ng-model="title" required />
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea name="description" id="" cols="30" rows="8" class="form-control" id="description" ng-model="description" required></textarea>
			</div>
			<div class="form-group">
				<label for="published">Published:</label>
				<md-datepicker ng-model="published" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
			</div>
			<div class="form-group">
				<label for="author">Author:</label>
				<md-autocomplete
					md-selected-item="selectedItem"
					md-search-text="searchText"
					md-selected-item-change="selectedItemChange(item)"
					md-items="item in querySearch(searchText)"
					md-item-text="item.name"
					md-min-length="0"
					required>
					<md-item-template>
						<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
					</md-item-template>
					<md-not-found>
						No authors matching "{{searchText}}" were found.
						<a href="#/authornew">Create a new one!</a>
					</md-not-found>
				</md-autocomplete>
			</div>
			<div class="form-group">
				<label for="image">Image:</label>
				<input type="file" class="form-control" id="image" accept=".jpg,.png" />
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>