<!-- Modal -->
<div class="modal fade" id="infoBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{books.current.title}}</h4>
			</div>
			<div class="modal-body">
				<div class="center">
					<img src="{{books.current.image}}" alt="">
				</div>
				<p></p>
				<p><label for="">Author:</label> {{books.current.author.name}}</p>
				<p><label for="">Published:</label> {{books.current.published}}</p>
				<p><label for="">Description:</label> {{books.current.description}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>