<div class="container">
	<p>Here you can find the list of books we have available, plus details on these and author of the book.</p>
	<div class="panel panel-primary">
	<!-- Default panel contents -->
		<div class="panel-heading">Last Books</div>
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<td>Title</td>
					<td>Author</td>
					<td>Published</td>
				</tr>			
			</thead>
			<tr ng-repeat="book in books.last">
				<td><a ng-click="loadInfoBook(book.id)">{{book.title}}</a></td>
				<td>{{book.author.name}}</td>
				<td>{{book.published}}</td>
			</tr>
		</table>
	</div>
	<div ng-include="urls.book_view"></div>
</div>