<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">
				<span class="glyphicon glyphicon-book"></span> Qualit library
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
		    <li class="active"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
		    <li class="dropdown">
		      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
		      <ul class="dropdown-menu inverse-dropdown">
		        <li><a href="#/booklist">List</a></li>
		        <li role="separator" class="divider"></li>
		        <li><a href="#/booknew">New</a></li>
		      </ul>
		    </li>
		    <li class="dropdown">
		      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authors <span class="caret"></span></a>
		      <ul class="dropdown-menu inverse-dropdown">
				<li><a href="#/authorlist">List</a></li>
		        <li role="separator" class="divider"></li>
		        <li><a href="#/authornew">New</a></li>
		      </ul>
		    </li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>