html, body{
	padding: 0;
	margin: 0;
}
nav{
	&.navbar{
		border-radius: 0;
		.inverse-dropdown{
			background-color: #222;
			border-color: #080808;
			&>li>a{
				color: #999;
				&:hover{
					color: #fff;
					background-color: #000;
				}
			}
			&>.divider {
				background-color: #000;
			}
		}
		.container{
			margin-bottom: 0px;
		}
	}
}
.container{
	margin-bottom: 50px;
	table{
		thead{
			font-weight: bold;
		}
	}
	.modal{
		img{
			max-width: 350px;
		}
	}
	.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
}
.center{
	text-align: center;
}
.navbar-fixed-bottom{
	padding-top: 15px;
	.container{
		margin-bottom: 0px;
	}
}